/__pycache__/
/etl_pipeline/__pycache__/
/etl_pipeline/pulled_bills/
/etl_pipeline/.pytest_cache/
/etl_pipeline/pytest.csv
/.pytest_cache/
/etl_pipeline/env.py
/Pyscript_Website/__pycache__/
/ML/__pycache__/